$colorRed: #da3743;
$colorBlack: #1a1a1a;
$ligherBlack: #666666;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navContainer {
  display: flex;
  width: 100%;
  padding: 1.375rem 9.75rem 1.5rem 9.75rem;
  // justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 4px 20px rgba(102, 101, 101, 0.1);

  p {
    color: $colorBlack;
  }
  .navFlex1 {
    display: flex;
    padding: 0rem 1.863rem 0rem 0.43031rem;
    align-items: flex-start;
    gap: 0.51931rem;
    margin-right: 5.5rem;
    cursor: pointer;

    span {
      color: #1a1a1a;
      font-family: Inter;
      font-size: 1.38463rem;
      font-style: normal;
      font-weight: 800;
      line-height: 160%; /* 2.21538rem */
      letter-spacing: 0.00556rem;
    }
  }

  .btn1 {
    display: flex;
    height: 3.375rem;
    padding: 0rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: $colorRed;
    color: $white;
    border: 2px solid transparent;
    cursor: pointer;
  }
}

//styles for Home Component

.homecontainer {
  display: flex;

  div img {
    width: 36.69325rem;
    height: 36.69325rem;
    flex-shrink: 0;
    margin-top: 6.19rem;
    margin-right: 6.19rem;
  }
  .writing {
    margin-right: 1.63rem;
    margin-left: 9.75rem;
    margin-top: 13rem;

    h3 {
      color: $colorBlack;

      font-family: Lato;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 112%; /* 4.48rem */
    }
    p {
      color: #13254a;
      font-family: Lato;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%; /* 1.63125rem */
      max-width: 24rem;
      margin-top: 1.5rem;
    }
    .btn2 {
      display: flex;
      width: 20.3125rem;
      height: 3.375rem;
      padding: 0rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-shrink: 0;
      border-radius: 1.875rem;
      background: $colorRed;
      color: $white;
      border: 2px solid transparent;
      margin-top: 2.31rem;
      cursor: pointer;
    }
  }
}
.message {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  padding: 1.2rem;
  background-color: $colorRed;
  margin-left: 88rem;
  margin-bottom: 12rem;
  border-radius: 50%;
  cursor: pointer;
}
